USE [master]
GO
/****** Object:  Database [QuanLyBenhVienNoiTruDB]    Script Date: 04/04/2025 1:29:50 CH ******/
CREATE DATABASE [QuanLyBenhVienNoiTruDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBenhVienNoiTruDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyBenhVienNoiTruDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBenhVienNoiTruDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyBenhVienNoiTruDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBenhVienNoiTruDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBenhVienNoiTruDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BacSis]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacSis](
	[MaBacSi] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[ChuyenKhoa] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BacSis] PRIMARY KEY CLUSTERED 
(
	[MaBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhans]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhans](
	[MaBenhNhan] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[NgaySinh] [datetime2](7) NULL,
	[GioiTinh] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[BaoHiemYTe] [bit] NOT NULL,
	[NgayNhapVien] [datetime2](7) NOT NULL,
	[NgayXuatVien] [datetime2](7) NULL,
	[MaKhoa] [int] NOT NULL,
 CONSTRAINT [PK_BenhNhans] PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhiDieuTris]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhiDieuTris](
	[MaChiPhi] [int] IDENTITY(1,1) NOT NULL,
	[MaBenhNhan] [int] NULL,
	[TongChiPhi] [decimal](18, 2) NOT NULL,
	[DaThanhToan] [bit] NOT NULL,
	[NgayLap] [datetime2](7) NULL,
 CONSTRAINT [PK_ChiPhiDieuTris] PRIMARY KEY CLUSTERED 
(
	[MaChiPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DieuTriBenhNhans]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DieuTriBenhNhans](
	[MaDieuTriBenhNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaBenhNhan] [int] NULL,
	[MaDieuTri] [int] NULL,
	[MaBacSi] [int] NULL,
	[NgayThucHien] [datetime2](7) NULL,
	[KetQua] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DieuTriBenhNhans] PRIMARY KEY CLUSTERED 
(
	[MaDieuTriBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucDieuTris]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucDieuTris](
	[MaDieuTri] [int] IDENTITY(1,1) NOT NULL,
	[TenDieuTri] [nvarchar](max) NOT NULL,
	[ChiPhi] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HinhThucDieuTris] PRIMARY KEY CLUSTERED 
(
	[MaDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachThamBenhs]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachThamBenhs](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[MaTaiKhoan] [int] NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[MoiQuanHe] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KhachThamBenhs] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoas]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoas](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Khoas] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThamBenhs]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThamBenhs](
	[MaLich] [int] IDENTITY(1,1) NOT NULL,
	[MaKhach] [int] NULL,
	[MaBenhNhan] [int] NULL,
	[ThoiGianTham] [datetime2](7) NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LichThamBenhs] PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans]    Script Date: 04/04/2025 1:29:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](max) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[VaiTro] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TaiKhoans] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_BacSis_MaTaiKhoan]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BacSis_MaTaiKhoan] ON [dbo].[BacSis]
(
	[MaTaiKhoan] ASC
)
WHERE ([MaTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BenhNhans_MaKhoa]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE NONCLUSTERED INDEX [IX_BenhNhans_MaKhoa] ON [dbo].[BenhNhans]
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiPhiDieuTris_MaBenhNhan]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChiPhiDieuTris_MaBenhNhan] ON [dbo].[ChiPhiDieuTris]
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DieuTriBenhNhans_MaBacSi]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE NONCLUSTERED INDEX [IX_DieuTriBenhNhans_MaBacSi] ON [dbo].[DieuTriBenhNhans]
(
	[MaBacSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DieuTriBenhNhans_MaBenhNhan]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE NONCLUSTERED INDEX [IX_DieuTriBenhNhans_MaBenhNhan] ON [dbo].[DieuTriBenhNhans]
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DieuTriBenhNhans_MaDieuTri]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE NONCLUSTERED INDEX [IX_DieuTriBenhNhans_MaDieuTri] ON [dbo].[DieuTriBenhNhans]
(
	[MaDieuTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhachThamBenhs_MaTaiKhoan]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachThamBenhs_MaTaiKhoan] ON [dbo].[KhachThamBenhs]
(
	[MaTaiKhoan] ASC
)
WHERE ([MaTaiKhoan] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichThamBenhs_MaBenhNhan]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE NONCLUSTERED INDEX [IX_LichThamBenhs_MaBenhNhan] ON [dbo].[LichThamBenhs]
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichThamBenhs_MaKhach]    Script Date: 04/04/2025 1:29:51 CH ******/
CREATE NONCLUSTERED INDEX [IX_LichThamBenhs_MaKhach] ON [dbo].[LichThamBenhs]
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BacSis]  WITH CHECK ADD  CONSTRAINT [FK_BacSis_TaiKhoans_MaTaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoans] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[BacSis] CHECK CONSTRAINT [FK_BacSis_TaiKhoans_MaTaiKhoan]
GO
ALTER TABLE [dbo].[BenhNhans]  WITH CHECK ADD  CONSTRAINT [FK_BenhNhans_Khoas_MaKhoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoas] ([MaKhoa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BenhNhans] CHECK CONSTRAINT [FK_BenhNhans_Khoas_MaKhoa]
GO
ALTER TABLE [dbo].[ChiPhiDieuTris]  WITH CHECK ADD  CONSTRAINT [FK_ChiPhiDieuTris_BenhNhans_MaBenhNhan] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhans] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[ChiPhiDieuTris] CHECK CONSTRAINT [FK_ChiPhiDieuTris_BenhNhans_MaBenhNhan]
GO
ALTER TABLE [dbo].[DieuTriBenhNhans]  WITH CHECK ADD  CONSTRAINT [FK_DieuTriBenhNhans_BacSis_MaBacSi] FOREIGN KEY([MaBacSi])
REFERENCES [dbo].[BacSis] ([MaBacSi])
GO
ALTER TABLE [dbo].[DieuTriBenhNhans] CHECK CONSTRAINT [FK_DieuTriBenhNhans_BacSis_MaBacSi]
GO
ALTER TABLE [dbo].[DieuTriBenhNhans]  WITH CHECK ADD  CONSTRAINT [FK_DieuTriBenhNhans_BenhNhans_MaBenhNhan] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhans] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[DieuTriBenhNhans] CHECK CONSTRAINT [FK_DieuTriBenhNhans_BenhNhans_MaBenhNhan]
GO
ALTER TABLE [dbo].[DieuTriBenhNhans]  WITH CHECK ADD  CONSTRAINT [FK_DieuTriBenhNhans_HinhThucDieuTris_MaDieuTri] FOREIGN KEY([MaDieuTri])
REFERENCES [dbo].[HinhThucDieuTris] ([MaDieuTri])
GO
ALTER TABLE [dbo].[DieuTriBenhNhans] CHECK CONSTRAINT [FK_DieuTriBenhNhans_HinhThucDieuTris_MaDieuTri]
GO
ALTER TABLE [dbo].[KhachThamBenhs]  WITH CHECK ADD  CONSTRAINT [FK_KhachThamBenhs_TaiKhoans_MaTaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoans] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[KhachThamBenhs] CHECK CONSTRAINT [FK_KhachThamBenhs_TaiKhoans_MaTaiKhoan]
GO
ALTER TABLE [dbo].[LichThamBenhs]  WITH CHECK ADD  CONSTRAINT [FK_LichThamBenhs_BenhNhans_MaBenhNhan] FOREIGN KEY([MaBenhNhan])
REFERENCES [dbo].[BenhNhans] ([MaBenhNhan])
GO
ALTER TABLE [dbo].[LichThamBenhs] CHECK CONSTRAINT [FK_LichThamBenhs_BenhNhans_MaBenhNhan]
GO
ALTER TABLE [dbo].[LichThamBenhs]  WITH CHECK ADD  CONSTRAINT [FK_LichThamBenhs_KhachThamBenhs_MaKhach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KhachThamBenhs] ([MaKhach])
GO
ALTER TABLE [dbo].[LichThamBenhs] CHECK CONSTRAINT [FK_LichThamBenhs_KhachThamBenhs_MaKhach]
GO
USE [master]
GO
